.footer {
  background: #111;
  color: white;
  padding: 60px 10%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-links a {
  margin-right: 20px;
  cursor: pointer;
}

.footer-contact {
  margin-bottom: 30px;
}
