.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  flex-wrap: wrap;
}

.logos img {
  height: 35px;
  opacity: 0.7;
  transition: 0.3s;
}

.logos img:hover {
  opacity: 1;
}
