.process {
  padding: 80px 10%;
}

.process-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.process-step {
  display: flex;
  gap: 20px;
  padding: 30px;
  border-radius: 25px;
  border: 2px solid #000;
  margin-bottom: 25px;
  background: #f4f4f4;
}

.process-step.active {
  background: #b9ff66;
}

.number {
  font-size: 28px;
  font-weight: bold;
}
