.testimonials {
  padding: 80px 10%;
  background: #111;
  color: white;
}

.testimonial-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.testimonial-box {
  background: #1b1b1b;
  padding: 40px;
  border-radius: 25px;
}

.testimonial-box p {
  margin-bottom: 20px;
}
